@using Kendo.Mvc.UI;
<div class="modal" id="EditTeacher">
    @UniAutomation.Helper.winClass.windowHeader("", "ویرایش اطلاعات", 800, 400)
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-cc.all.min.js")" type="text/javascript"></script>
    <div>
        <br />
        <center>
            <table>

                <tr>
                    <td align="left">
                        @Html.Hidden("fldID")
                        <span style="color: Red;">*</span>نام:
                    </td>
                    <td align="right">
                        @UniAutomation.Helper.winClass.textbox("txtName")
                        <span id="lblNameError" style="color: Red;"></span>
                    </td>
                    <td align="left">
                        <span style="color: Red;">*</span>نام خانوادگی:
                    </td>
                    <td align="right">
                        @UniAutomation.Helper.winClass.textbox("txtFamily")
                        <span id="lblFamilyError" style="color: Red;"></span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span>کدملی:
                    </td>
                    <td align="right">
                        @UniAutomation.Helper.winClass.textbox("txtMeliCode")
                        <span id="lblMeliCodeError" style="color: Red;"></span>
                    </td>
                    <td align="left">
                        <span style="color: Red;">*</span>رشته آموزشی:
                    </td>
                    <td align="right">
                        @(Html.Kendo().DropDownList()
                              .Name("cboCource")
                              .OptionLabel("رشته آموزشی ...")
                                        .DataTextField("fldName")
                                          .DataValueField("fldID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetCource", "Teachers");
                                              });
                                          }).HtmlAttributes(new { @style = "width:164px;" })

                        )
                        <span id="lblCourceError" style="color: Red;"></span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        تلفن همراه:
                    </td>
                    <td align="right">
                        @UniAutomation.Helper.winClass.textbox("txtMobile")
                    </td>
                    <td align="left">
                        ایمیل:
                    </td>
                    <td align="right">
                        @UniAutomation.Helper.winClass.textbox("txtEmail")
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td align="right">
                        @UniAutomation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td align="left">
                                    عکس دانشجو:(با فرمت jpg و کمتر از 25 کیلوبایت)
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="color:red;">
                                    برای بارگذاری عکس از مرورگر کروم استفاده کنید.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img id="PreviewImage1" src="@Url.Content("~/Content/images/Blank.jpg")" alt="" style="width: 80px; height: 80px; border: 2px;" />
                                    @UniAutomation.Helper.winClass.Buttons("btnBrowse1", "انتخاب عکس", "search")
                                    @UniAutomation.Helper.winClass.Buttons("btnRemove1", "برچیدن عکس", "del")
                                    <input style="display: none;" type="file" accept=".jpg" id="image1" name="image1"
                                           onchange="readURL1(this)" />
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>


    </div>
    <script type="text/javascript">
        var TermId;
        var isWinOpen = false;
        $("document").ready(function () {


            $("#AddLink").button();
            $("#btnBrowse1").button();
            $("#btnRemove1").button();
            $("#exit").button();
              $('#Help').button();
              EditRecord();

            $("#exit").click(function () {
                $("#EditTeacher").remove();
            });

            $("#btnRemove1").click(function () {
                $('#PreviewImage1').attr('src', '@Url.Content("~/Content/images/Blank.jpg")');
            });
            $('#EditTeacher').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#EditTeacher').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });



            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119



            $("#AddLink").click(function () {
                SaveRecord();
            });


            $("#btnBrowse1").click(function () {
                performClick(document.getElementById('image1'));
            });

            function performClick(node) {
                var evt = document.createEvent("MouseEvents");
                evt.initEvent("click", true, false);
                node.dispatchEvent(evt);
            }


        });

        function SaveRecord() {
            var image1 = document.getElementById('PreviewImage1');
            var c = image1.attributes[1];
            var imgData1 = "";
            if (c.value != "") {
                imgData1 = getBase64Image(image1);
            }



            var er = false;


            if ($("#txtName").val() == '') {
                $("#txtName").addClass("input-validation-error");
                $('#lblNameError').html('لطفا نام را وارد نمایید.');
                er = true;
            }
            else
                $('#lblNameError').html('');

            if ($("#txtFamily").val() == '') {
                $("#txtFamily").addClass("input-validation-error");
                $('#lblFamilyError').html('لطفا نام خانوادگی را وارد نمایید.');
                er = true;
            }
            else
                $('#lblFamilyError').html('');

            if ($("#txtMeliCode").val() == '') {
                $("#txtMeliCode").addClass("input-validation-error");
                $('#lblMeliCodeError').html('لطفا کد ملی را وارد نمایید.');
                er = true;
            }
            else
                $('#lblMeliCodeError').html('');

            if ($("#cboCource").val() == '') {
                $("#cboCource").addClass("input-validation-error");
                $('#lblCourceError').html('لطفا رشته آموزشی را وارد نمایید.');
                er = true;
            }
            else {
                $("#cboCource").removeClass("input-validation-error");
                $('#lblCourceError').html('');
            }


            if (er)
                return;

            var data = {
                fldName: $("#txtName").val(),
                fldFamily: $("#txtFamily").val(),
                fldYear: $("#txtYear").val(),
                fldCourceId: $("#cboCource").val(),
                fldMobile: $("#txtMobile").val(),
                fldEmail: $("#txtEmail").val(),
                fldDesc: $("#txtDesc").val(),
                fldID: $("#fldID").val(),
                fldMeliCode: $("#txtMeliCode").val(),
                fldPic: imgData1
            };

            if (data != '') {
                PostForm(data, '@Url.Content("~/EditTeacher/Save")', "#win");
            }
            $("#EditTeacher").remove();
        }

        function EditRecord() {

                var URL = '@Url.Content("~/EditTeacher/Details")';
                URL = URL;
                $.ajax({
                    type: "GET",
                    url: URL,
                    success: function (data) {
                        $('#fldID').val(data.fldID);
                        $('#txtName').val(data.fldName);
                        $('#txtFamily').val(data.fldFamily);
                        $('#txtEmail').val(data.fldEmail);
                        $('#txtMobile').val(data.fldMobile);
                        $('#txtMeliCode').val(data.fldMelliCode);
                        $('#txtDesc').val(data.fldDesc);
                        var model = $("#cboCource").data("kendoDropDownList");
                        model.value(data.fldCourseID);
                        var g = '@Url.Content("~/EditTeacher/TeacherImage/")' + data.fldpic;
                        $('#PreviewImage1').attr('src', g);

                    },
                    failure: function (data) {
                        alert(data.data);
                    }
                });

        }

        function readURL1(input) {
            if (input.files && input.files[0]) {//Check if input has files.
                if (input.files[0].size > 25600) {
                    alert('حجم فایل بزرگتر از 25 کیلو بایت است.');
                }
                else {
                    var reader = new FileReader(); //Initialize FileReader.

                    reader.onload = function (e) {
                        $('#PreviewImage1').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

        function getBase64Image(imgElem) {
            // imgElem must be on the same server otherwise a cross-origin error will be thrown "SECURITY_ERR: DOM Exception 18"
            var canvas = document.createElement("canvas");
            canvas.width = imgElem.clientWidth;
            canvas.height = imgElem.clientHeight;
            var ctx = canvas.getContext("2d");
            ctx.drawImage(imgElem, 0, 0, 80, 80);
            var dataURL = canvas.toDataURL("image/jpg");
            return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        }

        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/faces/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }

                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }
    </script>
    @UniAutomation.Helper.winClass.windowFother();
</div>
