@using Kendo.Mvc.UI;
<div id="RptVorudBeKhabgah">
    @using Kendo.Mvc.UI;
    <table>
        <tr>
            <td>
                از تاریخ:
            </td>
            <td>
                @UniAutomation.Helper.winClass.textbox("txtStart")
            </td>
        </tr>
        <tr>
            <td>
                نام دانشجو:
            </td>
            <td>
                @Html.TextBox("txtShCart", null, new { @style = "direction: rtl;font-family: tornado tahoma;width: 165px;height: 23px;" })
                @UniAutomation.Helper.winClass.Buttons("btnSearch", "جستجو", "search")
            </td>
        </tr>
       
        <tr>
            <td colspan="2">
                @UniAutomation.Helper.winClass.Buttons("show", "نمایش", "yes")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "exit")
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        var isWinOpen = false;
        var foodcart = 0;
        $(document).ready(function () {
            $('#show').button();
            $('#exit').button();
            $('#btnSearch').button();
            $('#btnSearch').click(function () {
                windowAppend("#RptVorudBeKhabgah", "/faces/SearchFoodCartsIns/index/9");
            });
            $('#show').click(function () {
                //window.open('/faces/RptVorudBeKhabgah/VorudBeKhabgahReport?Tarikh=' + $('#txtStart').val() + '&Semester=' + $('#cboSemester').val());
                if (isWinOpen == false) {
                    isWinOpen = true;
                    windowAppend('body', '/faces/Admin/PreviewRptPDFBox');
                    var t = '/faces/RptVorudBeKhabgah/VorudBeKhabgahReport?Tarikh=' + $('#txtStart').val() + '&foodcart=' + foodcart;
                    $('#pdf').html("<br/><object style='width: 900px;height: 500px;border: 1px solid #ccc;' id='pdfbox' type='application/pdf' data='" + t + "'></object> ");
                }
            });
            $('#exit').click(function () {
                $('#RptVorudBeKhabgah').remove();
            });

            $('#txtStart').datepicker({
                onSelect: function (dateText, inst) {
                    $('#txtEnd').datepicker('option', 'minDate', new JalaliDate(inst['selectedYear'], inst['selectedMonth'], inst['selectedDay']));
                },
                showButtonPanel: true
            });
            $('#txtEnd').datepicker({
                showButtonPanel: true
            });
        });
    </script>
</div>
