@using Kendo.Mvc.UI;
<div class="modal" id="FoodInfo">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>    
        <br />
         <a href="@Url.Content("~/Helps/تعریف%20انواع%20غذا.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
        <center>
            <table>                
                
                 <tr>
                    <td align="left">
                    @Html.Hidden("fldID")
                        وعده:
                    </td>
                    <td>
                        @(Html.Kendo().DropDownList()
                                             .Name("cboNobat")
                              .OptionLabel("وعده ...")
                                .BindTo(new List<SelectListItem>() {
                                           new SelectListItem() {
                                                    Text = "صبحانه",
                                                     Value = "1"
                                                 },
                                                      new SelectListItem() {
                                                          Text = "ناهار",
                                                          Value = "2"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "شام",
                                                          Value = "3"
                                                      }
                                                   
                                                  }).HtmlAttributes(new { @style = "width:164px;" })

                                    )
                        <span id="lblNobatError" style="color: Red;"></span>
                    </td>
                </tr>
                 <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> نام غذا:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textbox("txtFoodName")
                        <span id="lblFoodNameError" style="color: Red;"></span>
                    </td>
                </tr>
                    <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>    
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @UniAutomation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @UniAutomation.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = "نام غذا" }}, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @UniAutomation.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_tblFoodInfoSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldNobatName).Title("وعده");
                    columns.Bound(p => p.fldFoodName).Title("نام غذا");
                    
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                        .Read("Fill", "FoodInfo")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
    $("document").ready(function () {
        $("#AddLink").button();
        $("#EditLink").button();
        $("#DelLink").button();
        $("#exit").button();
        $('#Help').button();

        $("#exit").click(function () {
            $("#FoodInfo").remove();
        });
        $('#FoodInfo').on('keyup', 'input', function (event) {
            if (event.which == 13) {
                var inputs = $('#FoodInfo').find(':input:visible');
                inputs.eq(inputs.index(this) + 1).focus();
            }
        });

        $('#cboNobat').change(function () {
            var url = '@Url.Action("Reload", "FoodInfo")';
            if ($('#cboNobat').val() != "")
                Reload(url, 'Grid', '1', $('#cboNobat').val(), 30, 2);
            else
                Reload(url, 'Grid', '2', "", 30, 2);
        });

        $(document).keyup(function (event) {
            if (event.which == 119) {
                SaveRecord();
            }
            else if (event.which == 113) {
                EditRecord();
            }
            else if (event.which == 115) {
                DeleteRecord();
            }
        });
        $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
        $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
        $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

        jQuery("#EditLink").click(function () {
            EditRecord();
        });

        $('#DelLink').click(function () {
            DeleteRecord();
        });

        $("#AddLink").click(function () {
            SaveRecord();
        });


        $('#txtSearch').keyup(function () {
            var url = '@Url.Action("Reload", "FoodInfo")';
            Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
        });


        $("#txtFoodName").keyup(function () {
            if ($("#txtFoodName").val() != '') {
                $("#txtFoodName").removeClass("input-validation-error");
                $("#lblFoodNameError").html("");
            }
            else {
                $("#txtFoodName").addClass("input-validation-error");
                $('#lblFoodNameError').html('لطفا نام غذا را وارد کنید.');
            }
        });
    });
    function Clear() {
        $('#txtFoodName').val('');
        $('#fldID').val(0);
        $('#txtDesc').val('');
    }

    function DeleteRecord() {
        var entityGrid = $("#Grid").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());
        if (selectedItem) {
            var id = selectedItem.fldID;
            var URL = '@Url.Content("~/faces/metro/YesNomsg")';
            URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/FoodInfo/Delete")';
            if (MetroDialogOpen == false) {
                MetroDialogOpen = true;
                windowAppend("body", URL);
                $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
            }
        }
        else {
            alert('لطفا یک سطر را انتخاب کنید.');
        }
        Clear();
    }
    function SaveRecord() {
        var er = false;
        if ($("#txtFoodName").val() == '') {
            $("#txtFoodName").addClass("input-validation-error");
            $('#lblFoodNameError').html('لطفا نام غذا را وارد کنید.');
            er = true;
        }
        else
            $('#lblFoodNameError').html('');

        if ($("#cboNobat").val() == '') {
            $("#cboNobat").addClass("input-validation-error");
            $('#lblNobatError').html('لطفا نوبت را وارد کنید.');
            er = true;
        }
        else
            $('#lblNobatError').html('');

        if (er)
            return;

        var data = {
            fldFoodName: $("#txtFoodName").val(),
            fldNobat: $('#cboNobat').val(),
            fldDesc: $("#txtDesc").val(),
            fldID: $("#fldID").val()
        };
        if (data != '') {
            PostForm(data, '@Url.Content("~/FoodInfo/Save")', "#win");
        }
        Clear();
    }
    function EditRecord() {
        var entityGrid = $("#Grid").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());
        if (selectedItem) {
            var id = selectedItem.fldID;
            var URL = '@Url.Content("~/FoodInfo/Details")';
            URL = URL + "/" + id;
            $.ajax({
                type: "GET",
                url: URL,
                success: function (data) {
                    $('#txtDesc').val(data.fldDesc);
                    $('#txtFoodName').val(data.fldFoodName);
                    $('#fldID').val(data.fldID);
                    var model = $("#cboNobat").data("kendoDropDownList");
                    model.value(data.fldNobat);
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }
        else {
            alert('لطفا یک سطر را انتخاب کنید.');
        }
    }

    function Reload(Url, gridname, field, value, top, searchType) {
        var grid = $('#' + gridname).data('kendoGrid');
        $.ajax({
            url: Url,
            type: 'get',
            datatype: 'json',
            data: { field: field, value: value, top: top, searchtype: searchType },
            error: function (xhr, status, error) {
                alert(xhr + status);
            },
            success: function (result) {
                $("#" + gridname).data("kendoGrid").dataSource.data(result);
            }

        });
    }

    function PostForm(datas, url, id) {
        var sendInfo = datas;
        $('#Lock').show();
        $.ajax({
            type: "POST",
            url: url,
            data: sendInfo,
            datatype: "json",
            success: function (data) {
                var m = data;
                windowAppend("body", "/faces/metro/error");
                $("#message").html(m.data);
                switch (m.state) {
                    case 0:
                        $("#error .wintitle").html("ذخیره موفق");
                        break;
                    case 1:
                        $("#error .wintitle").html("خطا");
                        break;
                }
                var url = '@Url.Action("Reload", "FoodInfo")';
                Reload(url, 'Grid', '1', $('#cboNobat').val(), 30, 2);
                $('#Lock').hide();
            },
            failure: function (data) {
                alert(data.data);
            }
        });
    }
    </script>
</div>
