@using Kendo.Mvc.UI;
<div class="modal" id="B_tblStatusDorm">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>    
        <br />
        <a href="@Url.Content("~/Helps/تعریف%20وضعیت%20خوابگاه.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
        <center>
            <table>   
                 <tr>
                    <td align="left">
                    @Html.Hidden("fldStatusCode")
                        <span style="color: Red;">*</span>نوع وضعیت:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textbox("txtStatusType")
                        <span id="lblStatusTypeError" style="color: Red;"></span>
                    </td>
                </tr>
                    <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>    
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @UniAutomation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @UniAutomation.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = "نوع وضعیت" }}, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @UniAutomation.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_B_tblStatusDormSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldStatusCode).Title("کد").Visible(false);
                    columns.Bound(p => p.fldStatusType).Title("نوع وضعیت");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");
                    
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                                        .Read("Fill", "B_tblStatusDorm")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#AddLink").button();
            $("#EditLink").button();
            $("#DelLink").button();
            $("#exit").button();
            $('#Help').button();

            $("#exit").click(function () {
                $("#B_tblStatusDorm").remove();
            });
            $('#B_tblStatusDorm').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#B_tblStatusDorm').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });
            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });
          
            $('#txtSearch').keyup(function () {
                var url = '@Url.Action("Reload", "B_tblStatusDorm")';
                Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
            });

            $("#txtStatusType").keyup(function () {
                if ($("#txtStatusType").val() != '') {
                    $("#txtStatusType").removeClass("input-validation-error");
                    $("#lblStatusTypeError").html("");
                }
                else {
                    $("#txtStatusType").addClass("input-validation-error");
                    $('#lblStatusTypeError').html('لطفا نوع وضعیت را وارد کنید.');
                }
            });
        });
        function Clear() {
            $('#txtStatusType').val('');
            $('#fldStatusCode').val(0);
            $('#txtDesc').val('');
        }
        function DeleteRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldStatusCode;
                    var URL = '@Url.Content("~/faces/metro/YesNomsg")';
                    URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/B_tblStatusDorm/Delete")';
                    if (MetroDialogOpen == false) {
                        MetroDialogOpen = true;
                        windowAppend("body", URL);
                        $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                    }
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
                Clear();
            }
            function SaveRecord() {
                var er = false;
                if ($("#txtStatusType").val() == '') {
                    $("#txtStatusType").addClass("input-validation-error");
                    $('#lblStatusTypeError').html('لطفا نوع وضعیت را وارد کنید.');
                    er = true;
                }
                else
                    $('#lblStatusTypeError').html('');
                if (er)
                    return;

                var data = {
                    fldStatusType: $("#txtStatusType").val(),
                    fldDesc: $("#txtDesc").val(),
                    fldStatusCode: $("#fldStatusCode").val()
                };
                if (data != '') {
                    PostForm(data, '@Url.Content("~/B_tblStatusDorm/Save")', "#win");
                }
                Clear();
            }
            function EditRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldStatusCode;
                    var URL = '@Url.Content("~/B_tblStatusDorm/Details")';
                    URL = URL + "/" + id;
                    $.ajax({
                        type: "GET",
                        url: URL,
                        success: function (data) {
                            $('#txtStatusType').val(data.fldStatusType);
                            $('#txtDesc').val(data.fldDesc);
                            $('#fldStatusCode').val(data.fldStatusCode);
                        },
                        failure: function (data) {
                            alert(data.data);
                        }
                    });
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            }
        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/faces/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    var url = '@Url.Action("Reload", "B_tblStatusDorm")';
                    Reload(url, 'Grid', '0', '', 30, 1);
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>

