@using Kendo.Mvc.UI;
<div class="modal" id="searchEnterDorm">
@UniAutomation.Helper.winClass.windowHeader("", "جستجو دانشجویان خوابگاهی", 900, 500)
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <div>
        <br />        
        <div>
            <table>
                <tr>
                    <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald2", new SelectList(new[] { new { ID = "0", Name = "نام دانشجو" }, new { ID = "1", Name = "شماره دانشجویی" } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType2", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @UniAutomation.Helper.winClass.textbox("txtSearch2")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop2", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                </tr>
            </table>
            <br />
        </div>
        <center>
            <p>
                @UniAutomation.Helper.winClass.Buttons("Select2", "انتخاب", "Next")           
                @UniAutomation.Helper.winClass.Buttons("exit2", "خروج", "Exit")
            </p>
        </center>
        <div class="k-rtl demo-section">
           @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_B_tblEnterDormSelect>()
                .Name("Grid1")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldId).Title("کد").Visible(false);
                    columns.Bound(p => p.fldStudentName).Title("نام دانشجو");
                    columns.Bound(p => p.fldStudentNumber).Title("شماره دانشجویی");
                    columns.Bound(p => p.fldSemester).Title("ترم");
                    columns.Bound(p => p.fldBuildingName).Title("خوابگاه");
                    columns.Bound(p => p.fldNameRoom).Title(" شماره اتاق");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                                                .Read("Fill", "searchEnterDorm")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        var state;
        $("document").ready(function () {
            $("#Select2").button();
            $("#exit2").button();

            $('#searchEnterDorm #btnClose').click(function () {
                $("#searchEnterDorm").remove();
                isWinOpen = false;
            });
            $("#exit2").click(function () {
                isWinOpen = false;
                $("#searchEnterDorm").remove();
            });

            $('#txtSearch2').keyup(function () {
                var url = '@Url.Action("Reload", "searchEnterDorm")';
                Reload2(url, 'Grid2', $("#cboSearchFiald2").val(), $("#txtSearch2").val(), $("#txtTop2").val(), $("#cboSearchType2").val());
            });

            $('#Select2').click(function () { DblClick(); });

            $('#searchEnterDorm #Grid1 table tr').live('dblclick', function () { DblClick(); });

        });
        function DblClick() {
            var entityGrid = $("#Grid1").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem) {
                EnterDormId = selectedItem.fldId;
                $('#txtStudent').val(selectedItem.fldStudentName);
                $('#lblStudentNumber').html(selectedItem.fldStudentNumber);
                $('#lblReshte').html(selectedItem.fldCourseName);
                $('#lblSaken').html(selectedItem.fldCity);
                $('#lblKhabgah').html(selectedItem.fldBuildingName);
                $('#lblRoom').html(selectedItem.fldNameRoom);
            
                isWinOpen = false;

            }
            else {
                alert('لطفا یک سطر را انتخاب کنید.');
            }
            $('#searchEnterDorm').remove();
        }



        function Reload2(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.read();
                }

            });
        }

        
    </script>
     @UniAutomation.Helper.winClass.windowFother();
</div>
