@using Kendo.Mvc.UI;
<div class="modal" id="PishSabtenam_Khabgah">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>    
        <br />    <center>
            <table>                
                @Html.Hidden("fldId")                 
                 
                  @*   <tr>
                    <td align="center">
                       <span style="color: Red;">*</span>ترم:
                    </td>
                    <td align="right">
                        @(Html.Kendo().DropDownList()
                                                .Name("cboSemester")
                                                  .OptionLabel("ترم...")
                                  .DataTextField("fldName")
                                  .DataValueField("fldID")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetSemester", "PishSabtenam_Khabgah");
                                      });
                                  }).HtmlAttributes(new { @style = "width:164px;" })
                                  ) 
                        <span id="lblSemesterError" style="color: Red;"></span> 
                        <span id="lblError" style="color: Red;"></span>
                    </td>
                </tr>  *@
            </table>
            <p>
            <span id="lblError" style="color: Red;"></span>
            </p>
            <p>
               @UniAutomation.Helper.winClass.Buttons("AddLink", "پیش ثبت نام", "yes")
               @UniAutomation.Helper.winClass.Buttons("DelLink", "انصراف", "Del")
             @*    @UniAutomation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @UniAutomation.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")*@
            </p>
        </center>
 
      @*  <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<UniAutomation.Models.sp_tblPishSabtenam_KhabgahSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldId).Title("کد").Visible(false);
                    columns.Bound(p => p.fldTermName).Title("ترم");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Read("Fill", "PishSabtenam_Khabgah")
            )
        )
        </div>*@
    </div>
    <script type="text/javascript">
        var Pay = 0;
        var ID = 0;
        $("document").ready(function () {
            $("#AddLink").button();
            $("#DelLink").button();
            $("#EditLink").button();
            $("#exit").button();
            $("#exit").click(function () {
                $("#PishSabtenam_Khabgah").remove();
            });

            var Term = '@ViewBag.Term';

            $('#PishSabtenam_Khabgah').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#PishSabtenam_Khabgah').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });

            var URL1 = '@Url.Content("~/PishSabtenam_Khabgah/Details")';
            $.ajax({
                type: "GET",
                url: URL1,
                success: function (data) {
                    $('#fldId').val(data.ID);
                    ID = data.ID;
                    
                    if (data.ID == 0) {

                        $.ajax({
                            type: "get",
                            url: '@Url.Content("~/PishSabtenam_Khabgah/HavePay")',
                            datatype: "json",
                            data: { term: Term },
                            success: function (data) {
                                if (!data.Pay) {
                                    Pay = 1;
                                    $('#lblError').html('ابتدا مبلغ پیش پرداخت را بپردازید.');
                                }
                                else
                                    $('#lblError').html('');

                            },
                            failure: function (data) {
                                alert(data.data);
                            }
                        });

                        $("#DelLink").hide();
                        $("#AddLink").show();
                    }
                    else {
                        $("#AddLink").hide();
                        $("#DelLink").show();
                    }
                },
                failure: function (data) {
                    alert(data.data);
                }
            });

            //            $('#cboSemester').change(function () {
            //                var url1 = '@Url.Action("Reload", "PishSabtenam_Khabgah")';

            //                if ($('#cboSemester').val() != '') {
            //                    $('#lblSemesterError').html('');
            //                    $.ajax({
            //                        type: "get",
            //                        url: '@Url.Content("~/PishSabtenam_Khabgah/HavePay")',
            //                        datatype: "json",
            //                        data: { term: $('#cboSemester').val() },
            //                        success: function (data) {
            //                            if (!data.Pay) {
            //                                Pay = 1;
            //                                $('#lblError').html('ابتدا مبلغ پیش پرداخت را بپردازید.');
            //                            }
            //                            else
            //                                $('#lblError').html('');

            //                            Reload(url1, 'Grid', '0', $('#cboSemester').val(), 0, 2);
            //                        },
            //                        failure: function (data) {
            //                            alert(data.data);
            //                        }
            //                    });
            //                }

            //                if ($('#cboSemester').val() == '') {
            //                    $('#lblError').html('');
            //                    Reload(url1, 'Grid', '0', '', 0, 0);
            //                }
            //            });





            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });
        });
        function Clear() {
            $('#fldId').val(0);
        }
        function DeleteRecord() {
         
                var id = ID;
                var URL = '@Url.Content("~/_metro/YesNomsg")';
                URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/PishSabtenam_Khabgah/Delete")';
                if (MetroDialogOpen == false) {
                    MetroDialogOpen = true;
                    windowAppend("body", URL);
                    $("#message").html('در صورت انصراف پول پیش پرداخت بازنمی گردد،آیا مایل هستید؟');
                }
       
            Clear();
        }
        function SaveRecord() {
            var er = false;

            if (Pay == 1) 
                er = true;

          

            if (er)
                return;

            var data = {
                fldTermId: $("#cboSemester").val(),
                fldId: $("#fldId").val()
            };
            if (data != '') {
                PostForm(data, '@Url.Content("~/PishSabtenam_Khabgah/Save")', "#win");
            }
            Clear();
        }
        function EditRecord() {
            var entityGrid = $("#Grid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem) {
                var id = selectedItem.fldId;
                var URL = '@Url.Content("~/PishSabtenam_Khabgah/Details")';
                URL = URL + "/" + id;
                $.ajax({
                    type: "GET",
                    url: URL,
                    success: function (data) {
                        $('#fldId').val(data.fldId);
                        var model2 = $("#cboSemester").data("kendoDropDownList");
                        model2.value(data.fldTermId);
                    },
                    failure: function (data) {
                        alert(data.data);
                    }
                });
            }
            else {
                alert('لطفا یک سطر را انتخاب کنید.');
            }
        }
        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/_metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ثبت موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    windows('#Main', '/PishSabtenam_Khabgah');

                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>
