<div id="Home">   
@using Kendo.Mvc.UI;
    <script src="@Url.Content("~/Scripts/kendo.treeview.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/jQueryRotate.2.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-cc.all.min.js")" type="text/javascript"></script>
    <style scoped="scoped">
        .treeview-back
        {
            float: left;
            width: 220px;
            margin: 30px;
            padding: 20px;
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
            box-shadow: 0 1px 2px rgba(0,0,0,0.45), inner 0 0 30px rgba(0,0,0,0.07);
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }
    </style>
    @{
        int stdNum = Convert.ToInt32(Session["PersonId"]);
    }
    <script type="text/javascript">
    var angleSec = 0;
    var angleMin = 0;
    var angleHour = 0;
    var min, hor;

    setInterval(function () {
        angleSec = ((angleSec / 6 + 1) * 6);
        $("#seconds").rotate(angleSec);
        if (angleSec >= 360) {

            angleMin = (angleMin / 6 + 1) * 6;
            $("#minutes").rotate(angleMin);
            angleSec = 0;
        }
        if (angleMin >= 360) {
            angleMin = 0;
        }

    }, 1000);
    var Nodeid;
    var MatnEtelaiie;
    $(document).ready(function () {
        var datetime = '@ViewBag.time';
        MatnEtelaiie = '@ViewBag.MatnEtelaiie';

        angleHour = datetime.substring(0, 2);
        angleMin = datetime.substring(3, 5);
        angleSec = datetime.substring(6, 8);
        angleSec = angleSec * 6;
        angleMin = angleMin * 6;
        angleHour = (angleHour * 5 + (angleMin / 6) / 12) * 6;
        $("#seconds").rotate(angleSec);
        $("#minutes").rotate(angleMin);
        $("#hours").rotate(angleHour);
        $("#FillPishSabteNam").hide();
        $("#FillEtelaiie").hide();

        if ('@ViewBag.Student' == 1){
            var URL = '@Url.Content("~/EditStudent/IsFill")';
            URL = URL;
            $.ajax({
                type: "GET",
                url: URL,
                success: function (data) {
                    if (data.Notfill==1)
                        windowAppend("#Main", "/EditStudent/index");
                
                    var URL = '@Url.Content("~/Home/IsPassValid")';
                    URL = URL;
                    $.ajax({
                        type: "GET",
                        url: URL,
                        success: function (data) {
                            if (data.NotValid==1)
                                windowAppend("#Main", "/Accounts/WinChangePass");
                        },
                        failure: function (data) {
                            alert(data.data);
                        }
                    });
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }
        else{
            var URL = '@Url.Content("~/Home/IsPassValid")';
            URL = URL;
            $.ajax({
                type: "GET",
                url: URL,
                success: function (data) {
                    if (data.NotValid==1)
                        windowAppend("#Main", "/Accounts/WinChangePass");
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }

        if (MatnEtelaiie != "") {
            $("#FillEtelaiie").show();
            //$('#Etelaiie').html(MatnEtelaiie);
        }
        if ('@ViewBag.StartDate' != '') {
            $("#FillPishSabteNam").show();
            $('#PishSabteNam').html('زمان پیش ثبت نام شما از تاریخ ' + '@ViewBag.StartDate' + 'تا تاریخ ' + '@ViewBag.EndDate' + 'از ساعت ' + '@ViewBag.StartTime' + 'تا ساعت ' + '@ViewBag.EndTime' + 'می باشد.');
        }

        $('#Reserv').click(function () {
            windows('#Main', '/Reserv/index/1');
        });

        $('#ChPass').click(function () {
            windows('#Main', '/ChPass');
        });
        $('#Charj').click(function () {
            windows('#Main', '/Charj');
        });
        $('#PishSabtenam_Khabgah').click(function () {
            windows('#Main', '/PishSabtenam_Khabgah');
        });
        $('#EditStudent').click(function () {
           // windows('#Main', '/EditStudent');
            windowAppend("#Main", "/EditStudent/index");
        });
        $('#EditTeacher').click(function () {
            windowAppend("#Main", "/EditTeacher/index");
        });
        $('#TarikhcheEtebar').click(function () {
                windowAppend('body', '/faces/Admin/PreviewRptPDFBox');
                var t = '/faces/RptEtebar/rptEtebar/' + @stdNum;
                $('#pdf').html("<br/><object style='width: 900px;height: 500px;border: 1px solid #ccc;' id='pdfbox' type='application/pdf' data='" + t + "'></object> ");
            
        });
        $('#TarikhcheReserve').click(function () {
            windows('#Main', "/TarikhcheReserve/History");
        });
        
    });

</script>
    @{
        UniAutomation.Models.UniAutomationEntities Uni = new UniAutomation.Models.UniAutomationEntities();
        var q = Uni.sp_PersonName(Convert.ToInt32(Session["PersonId"])).FirstOrDefault();
    }
    <div class="k-rtl" dir="rtl">
        @(Html.Kendo().TabStrip()
          .Name("tabstrip")
          .SelectedIndex(0)
          .Items(tabstrip =>
          {
              tabstrip.Add().Text("صفحه اصلی")
                  .Selected(true)
                  .Content(Html.Kendo().Splitter()
                  .Name("MainPage")
                  .Orientation(SplitterOrientation.Horizontal)
                  .HtmlAttributes(new { @style = "height:600px", @Class = "k-rtl", @dir = "rtl" })
                    .Panes(p =>
                    {
                        p.Add().Content(@<div>
                            <div id="Main">
                            <center>
                                <br />
                                <br />
                                @*<br />
                                <br />
                                <span style="color:Red;font-size:large;">اطلاعیه مهم: دانشجویان گرامی لطفا جهت هرگونه پرداخت اینترنتی فقط از آدرس اینترنتی ذیل
                                <br />
                                http://78.38.152.102
                                <br />
                                اقدام فرمایید. درصورت بروز هرگونه مشکل مسئولیت آن به عهده خود دانشجو می باشد.     با تشکر
                                </span>*@
                                <br />
                                <br />
                                <br />
                                <fieldset id="FillEtelaiie" style="width: 650px;">
                                    <span id="Etelaiie" style="color:Red;font-size:small;">@Html.Raw(ViewBag.MatnEtelaiie)</span>
                                </fieldset>
                                <fieldset id="FillPishSabteNam" style="width: 650px;">
                                            <span id="PishSabteNam" style="color:Black;font-size:small;"></span>
                                </fieldset></center>
                            </div>
                        </div>);
                        p.Add().Size("220px").Content(@<div dir="rtl">
                           @Html.Kendo().PanelBar().Name("Admin").Items(it =>
                                 {
                                     it.Add().Text("امور تغذیه").Expanded(true)
                                         .ImageUrl(Url.Content("~/content/images/foods.png"))
                                         .Items(items =>
                                         {
                                             items.Add().Text("رزرو غذا")
                                                 .ImageUrl(Url.Content("~/content/images/food.png"))
                                                 .HtmlAttributes(new { @id = "Reserv" });
                                             items.Add().Text("افزایش اعتبار")
                                                 .ImageUrl(Url.Content("~/content/images/charge.png"))
                                                 .HtmlAttributes(new { @id = "Charj" });

                                             if (@ViewBag.Student == 1)
                                                 items.Add().Text("پیش ثبت نام خوابگاه")
                                                     .ImageUrl(Url.Content("~/content/images/614361-buttery_charging-128.png"))
                                                     .HtmlAttributes(new { @id = "PishSabtenam_Khabgah" });
                                             
                                             if (@ViewBag.Student == 1)
                                             items.Add().Text("ویرایش اطلاعات")
                                                 .ImageUrl(Url.Content("~/content/images/pass.png"))
                                                 .HtmlAttributes(new { @id = "EditStudent" });

                                             if (@ViewBag.Teacher == 1)
                                                 items.Add().Text("ویرایش اطلاعات")
                                                     .ImageUrl(Url.Content("~/content/images/pass.png"))
                                                     .HtmlAttributes(new { @id = "EditTeacher" });
                                             
                                             if (@ViewBag.Student == 1)
                                             items.Add().Text("تاریخچه اعتبارات")
                                                  .ImageUrl(Url.Content("~/content/images/time_sheduled-128.png"))
                                                 .HtmlAttributes(new { @id = "TarikhcheEtebar" });


                                             if (@ViewBag.Student == 1)
                                                 items.Add().Text("تاریخچه رزرو")
                                                      .ImageUrl(Url.Content("~/content/images/time_sheduled-128.png"))
                                                     .HtmlAttributes(new { @id = "TarikhcheReserve" });
                                             
                                             items.Add().Text("تغییر رمز عبور")
                                                 .ImageUrl(Url.Content("~/content/images/pass.png"))
                                                 .HtmlAttributes(new { @id = "ChPass" });
                                             items.Add().Text("خروج")
                                                 .ImageUrl(Url.Content("~/content/images/quit.png"))
                                                 .Action("Logout", "Home");                                                 
                                         });
                                 }
                                 )
                            <br />
                            <center dir="rtl">
                                <br />
                                <img alt="" src="@Url.Content("~/Home/image/" + Session["PersonId"].ToString())" width="90px" height="120px" style=" border-color: #2E4796; border-radius: 6px 6px 6px 6px; border-style: solid;border-width:2px;" />
                                <br />
                                <span>@q.PersonName</span>
                                <br />
                                <div id="container">
                                    <div class="rotatingHands">
                                        <img alt="" id="hours" src="@Url.Content("~/Content/images/hours.png")" /></div>
                                    <div class="rotatingHands">
                                        <img alt="" id="minutes" src="@Url.Content("~/Content/images/minutes.png")" /></div>
                                    <div class="rotatingHands">
                                        <img alt="" id="seconds" src="@Url.Content("~/Content/images/seconds.png")" /></div>
                                    <div class="glass">
                                        <img alt="" src="@Url.Content("~/Content/images/glass.png")" /></div>
                                    <img alt="" src="@Url.Content("~/Content/images/clock.png")" />
                                </div>
                            </center>
                        </div>);
                    }).ToHtmlString()

                  );


                            }))
                    
    </div>
</div>
