@using Kendo.Mvc.UI;
<div class="modal" id="entryExtDrm">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>    
    <div>    
        <br />
        <a href="@Url.Content("~/Helps/تعریف%20ساعت%20ورود%20و%20خروج%20خوابگاه.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;width:20px;height: 20px;float: left;top: 10px;left: 10px;"></a>
        <center>
            <table>   
             @Html.Hidden("fldPermitedTimeCode")
                           
                <tr>
                <td align="left">
                       <span style="color: Red;">*</span> نوع وضعیت(Ins)
                    </td>
                    <td>
                        @Html.TextBox("txtStatusCode", null, new { @style = "width: 164px;height: 23px;background-color:rgb(222, 231, 239);" })
                        <span id="lblStatusError" style="color: Red;"></span>
                    </td>
                    </tr>
                    <tr>
                    <td align="left">
                       نیم سال:
                    </td>
                    <td>
                        <label>@Html.RadioButton("fldFirstHalf", "true", new { @id = "yess" }) نیم سال اول</label><label>@Html.RadioButton("fldFirstHalf", "false", true, new { @id = "no" }) نیم سال دوم</label>
                   
                    </td>
                    </tr>
            
                 <tr>
                    <td align="left">
                       ساعت شروع:
                    </td>
                    <td align="right">
                        @Html.TextBox("txtStartTimeM", null, new { @style = "width:30px;height: 23px;", @maxlength = "2" })
                        : @Html.TextBox("txtStartTimeH", null, new { @style = "width:30px;height: 23px;", @maxlength = "2" })
                        <span id="lblStartTimeMError" style="color: Red;"></span>
                        <span id="lblStartTimeHError" style="color: Red;"></span>
                    </td>
               
                    <td align="left">
                         ساعت پایان:
                    </td>
                    <td align="right">
                        @Html.TextBox("txtEndTimeM", null, new { @style = "width:30px;height: 23px;", @maxlength = "2" })
                        : @Html.TextBox("txtEndTimeH", null, new { @style = "width:30px;height: 23px;", @maxlength = "2" })
                        <span id="lblEndTimeMError" style="color: Red;"></span>
                        <span id="lblEndTimeHError" style="color: Red;"></span>
                    </td>
                </tr>
                    
                    <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>    
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @UniAutomation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @UniAutomation.Helper.winClass.Buttons("DelLink", "حذف", "Del")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = " نوع وضعیت" } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @UniAutomation.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_B_tblEntryExitDormSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldPermitedTimeCode).Title("کد").Visible(false);
                    columns.Bound(p => p.fldFirstHalfName).Title("نیمسال");
                    columns.Bound(p => p.fldStartTime).ClientTemplate("#=fldStartTime.Hours#:#=fldStartTime.Minutes#").Title("زمان شروع");
                    columns.Bound(p => p.fldEndTime).ClientTemplate("#=fldEndTime.Hours#:#=fldEndTime.Minutes#").Title("زمان پایان");
                 
                    columns.Bound(p => p.fldStatusType).Title("نوع وضعیت");
                    
                    
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                                .Read("Fill", "entryExtDrm")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        var id;
        var Name;
        var statuscodeE;
        var ch = 0;
        var isWinOpen = false;
        $("document").ready(function () {
            $("#AddLink").button();
            $("#EditLink").button();
            $("#DelLink").button();
            $("#exit").button();
            $('#Help').button();
            $("#exit").click(function () {
                $("#entryExtDrm").remove();
            });

            $('#txtStatusCode').keyup(function () {
                if (isWinOpen == false) {
                    windowAppend("body", "faces/SearchStatusDorm/index/1");
                    isWinOpen = true;
                }
            });
            $('#yess').change(function () {
                var g = document.getElementById('yess');
                if (g.checked)
                    ch = 1
            });

            $('#no').change(function () {
                var g = document.getElementById('no');
                if (g.checked)
                    ch = 0
            });

            $(':radio[Type]').change(function () {
                var url = '@Url.Action("Reload", "entryExtDrm")';

                if (yess.checked)
                    Reload(url, 'Grid', '1', 1, 30, 1);
                else
                    Reload(url, 'Grid', '1', 0, 30, 1);
            });

            $('#entryExtDrm').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#entryExtDrm').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });
            $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });

            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });
            $('#txtSearch').keyup(function () {
                var url = '@Url.Action("Reload", "entryExtDrm")';
                Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
            });

            $("#txtStartTimeM").keyup(function () {
                if ($("#txtStartTimeM").val() != '') {
                    $("#txtStartTimeM").removeClass("input-validation-error");
                    $("#lblStartTimeMError").html("");
                }
                else {
                    $("#txtStartTimeM").addClass("input-validation-error");
                    $('#lblStartTimeMError').html('لطفا زمان شروع را وارد کنید.');
                }
            });

            $("#txtStartTimeH").keyup(function () {
                if ($("#txtStartTimeH").val() != '') {
                    $("#txtStartTimeH").removeClass("input-validation-error");
                    $("#lblStartTimeHError").html("");
                }
                else {
                    $("#txtStartTimeH").addClass("input-validation-error");
                    $('#lblStartTimeHError').html('لطفا زمان شروع را وارد کنید.');
                }
            });

            $("#txtEndTimeM").keyup(function () {
                if ($("#txtEndTimeM").val() != '') {
                    $("#txtEndTimeM").removeClass("input-validation-error");
                    $("#lblEndTimeMError").html("");
                }
                else {
                    $("#txtEndTimeM").addClass("input-validation-error");
                    $('#lblEndTimeMError').html('لطفا زمان پایان را وارد کنید.');
                }
            });

            $("#txtEndTimeH").keyup(function () {
                if ($("#txtEndTimeH").val() != '') {
                    $("#txtEndTimeH").removeClass("input-validation-error");
                    $("#lblEndTimeHError").html("");
                }
                else {
                    $("#txtEndTimeH").addClass("input-validation-error");
                    $('#lblEndTimeHError').html('لطفا زمان پایان را وارد کنید.');
                }
            });

            $("#txtfldFirstHalf").keyup(function () {
                if ($("#txtfldFirstHalf").val() != '') {
                    $("#txtfldFirstHalf").removeClass("input-validation-error");
                    $("#lblfldFirstHalfError").html("");
                }
                else {
                    $("#txtfldFirstHalf").addClass("input-validation-error");
                    $('#lblfldFirstHalfError').html('لطفا نیم سال را وارد کنید.');
                }
            });
        });
        function Clear() {
//            $('#txtNumber').val('');
            $('#fldPermitedTimeCode').val(0);
            $('#txtDesc').val('');
            $("#txtStartTimeM").val('');
            $("#txtStartTimeH").val('');
            $("#txtEndTimeM").val('');
            $("#txtEndTimeH").val('');
            yess.checked = false;
            no.checked = false
        }

        function SaveRecord() {
            var er = false;
            if ($("#txtStartTimeM").val() == '') {
                $("#txtStartTimeM").addClass("input-validation-error");
                $('#lblStartTimeMError').html('لطفا زمان شروع را وارد کنید.');
                er = true;
            }
            else {
                $('#lblStartTimeMError').html('');
                $("#txtStartTimeM").removeClass("input-validation-error");
            }

            if ($("#txtStartTimeH").val() == '') {
                $("#txtStartTimeH").addClass("input-validation-error");
                $('#lblStartTimeHError').html('لطفا زمان شروع را وارد کنید.');
                er = true;
            }
            else {
                $('#lblStartTimeHError').html('');
                $("#txtStartTimeH").removeClass("input-validation-error");
            }

            if ($("#txtEndTimeM").val() == '') {
                $("#txtEndTimeM").addClass("input-validation-error");
                $('#lblEndTimeMError').html('لطفا زمان پایان را وارد کنید.');
                er = true;
            }
            else {
                $('#lblEndTimeMError').html('');
                $("#txtEndTimeM").removeClass("input-validation-error");
            }

            if ($("#txtEndTimeH").val() == '') {
                $("#txtEndTimeH").addClass("input-validation-error");
                $('#lblEndTimeHError').html('لطفا زمان پایان را وارد کنید.');
                er = true;
            }
            else {
                $('#lblEndTimeHError').html('');
                $("#txtEndTimeH").removeClass("input-validation-error");
            }

            if (er)
                return;
            if (yess.checked)
                ch = true;
            else
                ch = false;
            StartTime = $("#txtStartTimeH").val() + ':' + $("#txtStartTimeM").val();
            EndTime = $("#txtEndTimeH").val() + ':' + $("#txtEndTimeM").val();
            var data = {
                fldStartTime: $("#txtStartDate").val(),
                fldEndTime: $("#txtEndTimeM").val(),
                fldStartTime: StartTime,
                fldEndTime: EndTime,
                //                    fldFirstHalf: $('#txtfldFirstHalf').val(),
                fldFirstHalf: ch,
                fldStatusCodeId: statuscodeE,
                fldDesc: $("#txtDesc").val(),
                fldPermitedTimeCode: $("#fldPermitedTimeCode").val()
            };
            if (data != '') {
                PostForm(data, '@Url.Content("~/entryExtDrm/Save")', "#win");
            }
            Clear();
        }
            function DeleteRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldPermitedTimeCode;
                    var URL = '@Url.Content("~/faces/metro/YesNomsg")';
                    URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/entryExtDrm/Delete")';
                    if (MetroDialogOpen == false) {
                        MetroDialogOpen = true;
                        windowAppend("body", URL);
                        $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                    }
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
                Clear();
            }
            function EditRecord() {
                var entityGrid = $("#Grid").data("kendoGrid");
                var selectedItem = entityGrid.dataItem(entityGrid.select());
                if (selectedItem) {
                    var id = selectedItem.fldPermitedTimeCode;
                    var URL = '@Url.Content("~/entryExtDrm/Details")';
                    URL = URL + "/" + id;
                    $.ajax({
                        type: "GET",
                        url: URL,
                        success: function (data) {
                            $('#fldPermitedTimeCode').val(data.fldPermitedTimeCode);
                            $("#txtStartTimeM").val(data.fldStartTimeM);
                            $("#txtStartTimeH").val(data.fldStartTimeH);
                            $("#txtEndTimeM").val(data.fldEndTimeM);
                            $("#txtEndTimeH").val(data.fldEndTimeH);
                            $('#txtStatusCode').val(data.fldStatusType);
                            statuscodeE = data.fldStatusCodeId;
                            $('#txtDesc').val(data.fldDesc);
                            if (data.fldFirstHalf)
                                yess.checked = true;
                            else
                                no.checked = true;

                        },
                        failure: function (data) {
                            alert(data.data);
                        }
                    });
                }
                else {
                    alert('لطفا یک سطر را انتخاب کنید.');
                }
            }


        function Reload(Url, gridname, field, value, top, searchType) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                data: sendInfo,
                datatype: "json",
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/faces/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    var url = '@Url.Action("Reload", "entryExtDrm")';
                    Reload(url, 'Grid', '0', '', 30, 1);
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }    
    </script>
</div>

