@using Kendo.Mvc.UI;
<div class="modal" id="SearchRoom3">
@UniAutomation.Helper.winClass.windowHeader("", "جستجو  اتاق های ساختمان", 900, 500)
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <div>
        <br />        
        <div>
            <table>
                <tr>
                    <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald2", new SelectList(new[] { new { ID = "1", Name = "نام اتاق" } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType2", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @UniAutomation.Helper.winClass.textbox("txtSearch2")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop2", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                </tr>
            </table>
            <br />
        </div>
        <center>
            <p>
                @UniAutomation.Helper.winClass.Buttons("Select2", "انتخاب", "Next")              
                @UniAutomation.Helper.winClass.Buttons("exit3", "خروج", "Exit")
            </p>
        </center>
        <div class="k-rtl demo-section">
              @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_B_tblBuildingRoomsSelect>()
                .Name("Grid3")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldRoomCode).Title("کد ");//.Visible(false);
                    columns.Bound(p => p.fldNameRoom).Title("شماره اتاق");
                    columns.Bound(p => p.fldCapacity).Title("ظرفیت اتاق");
                    columns.Bound(p => p.fldMinusCapacity).Title("ظرفیت باقیمانده");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");
                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                                        .Read("Fill", "SearchRoom3")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
        var state;
        var BuildingId;
        $("document").ready(function () {
            $("#Select2").button();
            $("#exit3").button();
            state = '@ViewBag.state';
            BuildingId = '@ViewBag.BuildingId';
            $("#exit3").click(function () {
                isWinOpen = false;
                $("#SearchRoom3").remove();
            });
            $('#SearchRoom3 #btnClose').click(function () {
                $("#SearchRoom3").remove();
                isWinOpen = false;
            });
            $('#txtSearch2').keyup(function () {
                var url = '@Url.Action("Reload", "SearchRoom3")';
                Reload2(url, 'Grid3', $("#cboSearchFiald2").val(), $("#txtSearch2").val(), $("#txtTop2").val(), $("#cboSearchType2").val(), BuildingId);
            });
        //    $('#Select2').click(function () { DblClick(); });

            $('#SearchRoom3 #Grid3 table tr').live('dblclick', function () { DblClick(); });
            $('#Select2').click(function () {
                DblClick();
            });
        });

        function DblClick() {
            var entityGrid = $("#Grid3").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem) {
                if (parseInt(selectedItem.fldMinusCapacity) > 0) {
                    roomcodeid = selectedItem.fldRoomCode;
                    var url = '@Url.Action("Reload", "B_tblEnterDorm")';
                    Reload(url, 'Grid', '2', SarbargId, '', 30, 2, roomcodeid);
                    $('#txtBuildingRoomsId').val(selectedItem.fldNameRoom);
                    BuildingCodeId = selectedItem.fldRoomCode;
                    isWinOpen = false;
                    $('#SearchRoom3').remove();
                }
                else
                    alert('ظرفیت اتاق مورد نظر تکمیل می باشد.');
            }
            else {
                alert('لطفا یک سطر را انتخاب کنید.');
            }

        } 
          
      
        function Reload2(Url, gridname, field, value, top, searchType, BuildingId) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { field: field, value: value, top: top, searchtype: searchType, BuildingId: BuildingId },
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        
    </script>
     @UniAutomation.Helper.winClass.windowFother();
</div>
