<div class="modal" id="YesNoMsg">
    
    @UniAutomation.Helper.winClass.windowHeader("", "هشدار", 250, 180)
    <br />
    <div id="message">
    </div>
    <br />
    @UniAutomation.Helper.winClass.Buttons("yes", "بله", "yes")
    @UniAutomation.Helper.winClass.Buttons("No", "خیر", "no")
    <br />
    <script type="text/javascript">
        $("document").ready(function () {
            $("#yes").button();
            $("#No").button();
            $("#yes").click(function () {
                MetroDialogOpen = false;
                var url = '@ViewBag.URL';
                var data = { id: '@ViewBag.ID' };
                PostForm(data, url, "#win");
                $("#YesNoMsg").remove();
            });

            $("#No").click(function () {
                MetroDialogOpen = false;
                $("#YesNoMsg").remove();
            });
        });
    
</script>
@UniAutomation.Helper.winClass.windowFother()
</div>
