@using Kendo.Mvc.UI;
<div class="modal" id="User">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.datepicker-cc.all.min.js")" type="text/javascript"></script>
    @{
        UniAutomation.Areas.faces.Models.UniAutomationEntities1 car = new UniAutomation.Areas.faces.Models.UniAutomationEntities1();
        var q = car.sp_tblUserGroupSelect("", "", 0).ToList();        
    }
    <div>
        <br />
         <a href="@Url.Content("~/Helps/تعریف کاربر.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;width:20px;height: 20px;float: left;top: 10px;left: 10px;"></a>
        <center>
            <table>                
                <tr>
                    <td align="left" colspan="2">                    
                        گروه ها:
                    </td>
                    <td colspan="2"><br />
                        @foreach (var item in q)
                        {
                            <input class="checkbox" type="checkbox" value="@item.fldID" />
                            <label>@item.fldTitle</label><br />
                        }
                        <br />
                    </td>
                </tr>
                <tr>
                    @Html.Hidden("fldId")
                    <td align="left">
                        <span style="color: Red;">*</span> نام:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textbox("txtName")
                        <span id="lblNameError" style="color: Red;"></span>
                    </td>
                    <td align="left">
                        <span style="color: Red;">*</span> نام خانوادگی:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textbox("txtFamily")
                        <span id="lblFamilyError" style="color: Red;"></span>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <span style="color: Red;">*</span> نام کاربری:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textbox("txtUser")
                        <span id="lblUserError" style="color: Red;"></span>
                    </td>
                    <td align="left">
                        <span style="color: Red;">*</span> کلمه عبور:
                    </td>
                    <td>
                        @Html.Password("txtPass", null, new { @style = "height:23px;width: 162px;" })
                        <span id="lblPassError" style="color: Red;"></span>
                    </td>
                </tr>
                
                <tr>
                    <td align="left">
                        وضعیت:
                    </td>
                    <td>
                        @Html.DropDownList("cboStatus", new SelectList(new[] { new { ID = "0", Name = "فعال " }, new { ID = "1", Name = "غیر فعال " } }, "ID", "Name"), new { @style = "height:23px;width: 164px;" })
                    </td>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        تصویر:
                    </td>
                    <td colspan="2">
                        <img id="PreviewImage" src="@Url.Content("~/Content/images/Blank.jpg")" alt="" style="width: 94px; height: 124px; border: 2px;" />
                        @UniAutomation.Helper.winClass.Buttons("btnBrowse", "انتخاب عکس", "search")
                        @UniAutomation.Helper.winClass.Buttons("btnRemove", "برچیدن عکس", "del")
                        <input style="display: none;" type="file" accept=".jpg" id="image" name="image" onchange="readURL(this)" />
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @UniAutomation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @*@Avarez.Helper.winClass.Buttons("DelLink", "حذف", "Del")*@                
                @UniAutomation.Helper.winClass.Buttons("Reset", "ریست پسورد", "Clean")
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>
        @(Html.Kendo().PanelBar()
        .Name("panelbar-images")
        .Items(panelbar =>
        {
            panelbar.Add().Text("جستجو")
                .ImageUrl(Url.Content("~/Content/images/search.png"))
                .Content(@<div>
                    <table>
                        <tr>
                            <td>
                                فیلد جستجو:@Html.DropDownList("cboSearchFiald", new SelectList(new[] { new { ID = "0", Name = "نام " } }, "ID", "Name"))
                            </td>
                            <td>
                                نوع جستجو: @Html.DropDownList("cboSearchType", new SelectList(new[] { new { ID = "0", Name = "مشابه عبارت" }, new { ID = "1", Name = "مشابه عبارت از سمت راست" }, new { ID = "2", Name = "عین عبارت" } }, "ID", "Name"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                عبارت جستجو: @UniAutomation.Helper.winClass.textbox("txtSearch")
                            </td>
                            <td>
                                نتیجه رکوردها: @Html.TextBox("txtTop", 30, new { @style = "width:30px;" }) رکورد
                            </td>
                        </tr>
                    </table>
                    <br />
                </div>);
        })
        )
        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_tblUserSelect>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldID).Title("کد").Visible(false);
                    columns.Bound(p => p.fldName).Title("نام");
                    columns.Bound(p => p.fldFamily).Title("نام خانوادگی");
                    columns.Bound(p => p.fldDesc).Title("توضیحات");

                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Read("Fill", "User")
            )
        )
        </div>
    </div>
    <script type="text/javascript">
    function select(e) {
        var dataItem = this.dataItem(e.node);
        id = dataItem.id;
        SID = dataItem.fldSid;
        NType = dataItem.fldNodeType;
        if (NType == 9) {
            $('#Position').html('شما مجاز به انتخاب کاربر نمی باشید.');
            NType = 0;
            SID = 0;
            id = 0;
            return;
        }
        var url = '@Url.Content("~/user/Position")';
        $.ajax({
            type: "post",
            url: url,
            data: { id: id },
            datatype: "json",
            success: function (data) {
                var m = data;
                $('#Position').html('موقعیت انتخاب شده: ' + m.Position);
                var treeview = $("#treeview").data("kendoTreeView");
                treeview.collapse(".k-item");
            },
            failure: function (data) {
                alert(data.data);
            }
        });
    }
    var id;
    var SID;
    var NType;
    $("document").ready(function () {

        $("#txtSDate").datepicker({
            showButtonPanel: true
        });
        $("#AddLink").button();
        $("#EditLink").button();
        $("#Help").button();
        $("#exit").button();
        $("#Reset").button();
        $("#btnBrowse").button();
        $("#btnRemove").button();
        $('#PreviewImage').attr('src', '@Url.Content("~/Content/images/Blank.jpg")');

        $("#exit").click(function () {
            $("#User").remove();
        });

        $("#Reset").click(function () {
            var entityGrid = $("#Grid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem) {
                var id = selectedItem.fldID;
                var URL = '@Url.Content("~/faces/metro/YesNomsg")';
                URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/User/Reset/")' + id;
                if (MetroDialogOpen == false) {
                    MetroDialogOpen = true;
                    windowAppend("body", URL);
                    $("#message").html('آیا مایل به ریست پسورد رکورد انتخاب شده هستید؟');
                }
            }
            else {
                windowAppend('body', '/metro/error');
                $('#message').html('لطفا یک سطر را انتخاب کنید.');
                $("#error .wintitle").html("خطا");
            }
            Clear();
        });

        $("#btnRemove").click(function () {
            $('#PreviewImage').attr('src', '@Url.Content("~/Content/images/Blank.jpg")');
        });

        $('#User').on('keyup', 'input', function (event) {
            if (event.which == 13) {
                var inputs = $('#User').find(':input:visible');
                inputs.eq(inputs.index(this) + 1).focus();
            }
        });
        $(document).keyup(function (event) {
            if (event.which == 119) {
                SaveRecord();
            }
            else if (event.which == 113) {
                EditRecord();
            }
            else if (event.which == 115) {
                DeleteRecord();
            }
        });
        $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
        $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
        $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

        jQuery("#EditLink").click(function () {
            EditRecord();
        });

        $('#DelLink').click(function () {
            DeleteRecord();
        });

        $("#AddLink").click(function () {
            SaveRecord();
        });

        $('#txtSearch').keyup(function () {
            var url = '@Url.Action("Reload", "User")';
            Reload(url, 'Grid', $("#cboSearchFiald").val(), $("#txtSearch").val(), $("#txtTop").val(), $("#cboSearchType").val());
        });

        $("#btnBrowse").click(function () {
            performClick(document.getElementById('image'));
        });

        function performClick(node) {
            var evt = document.createEvent("MouseEvents");
            evt.initEvent("click", true, false);
            node.dispatchEvent(evt);
        }

        $("#txtName").keyup(function () {
            if ($("#txtName").val() != '') {
                $("#txtName").removeClass("input-validation-error");
                $("#lblNameError").html("");
            }
            else {
                $("#txtName").addClass("input-validation-error");
                $('#lblNameError').html('لطفا نام کاربر را وارد کنید.');
            }
        });

        $("#txtFamily").keyup(function () {
            if ($("#txtFamily").val() != '') {
                $("#txtFamily").removeClass("input-validation-error");
                $("#lblFamilyError").html("");
            }
            else {
                $("#txtFamily").addClass("input-validation-error");
                $('#lblFamilyError').html('لطفا نام خانوادگی را وارد کنید.');
            }
        });
    });
    function Clear() {
        $('#txtName').val('');
        $('#fldId').val(0);
        $("#txtCell").val('');
        $("#txtSDate").val('');
        $("#txtFamily").val('');
        $("#txtTel").val('');
        $('#txtDesc').val('');
        $("#txtPass").val('');
        $("#txtUser").val('');
        $("#txtMail").val('');
        $('#PreviewImage').attr('src', '@Url.Content("~/Content/images/Blank.jpg")');
        var checked = $('input[type=checkbox]');
        for (var i = 0; i < checked.length; i++) {
            var f = checked.valueOf()[i];
            f.checked = false;
        }
    }
    function SaveRecord() {
        var er = false;
        if ($("#txtName").val() == '') {
            $("#txtName").addClass("input-validation-error");
            $('#lblNameError').html('لطفا نام را وارد کنید.');
            er = true;
        }
        else
            $('#lblNameError').html('');

        if ($("#txtFamily").val() == '') {
            $("#txtFamily").addClass("input-validation-error");
            $('#lblFamilyError').html('لطفا نام خانوادگی را وارد کنید.');
            er = true;
        }
        else
            $('#lblFamilyError').html('');

        if (er)
            return;
        var image = document.getElementById('PreviewImage');
        var c = image.attributes[1];
        var imgData = "";
        if (c.value != "")
            imgData = getBase64Image(image);
        var _checked = new Array();
        var c = document.getElementsByClassName('checkbox');
        for (var i = 0; i < c.length; i++) {
            var b = c[i];
            if (b.checked)
                _checked.push(b.value);
        }
        var data = {
            fldName: $("#txtName").val(), fldFamily: $("#txtFamily").val(), fldStatus: $("#cboStatus").val(),
            fldPassword: $("#txtPass").val(), fldUserName: $("#txtUser").val(), fldDesc: $("#txtDesc").val(), fldImage: imgData,
            fldId: $("#fldId").val(),
            _checked: _checked
        };
        if (data != '') {
            PostForm(data, '@Url.Content("~/User/Save")', "#win");
        }
        Clear();
    }
    function EditRecord() {
        var entityGrid = $("#Grid").data("kendoGrid");
        var selectedItem = entityGrid.dataItem(entityGrid.select());
        if (selectedItem) {
            var id = selectedItem.fldID;
            var URL = '@Url.Content("~/User/Details")';
            URL = URL + "/" + id;
            $.ajax({
                type: "GET",
                url: URL,
                success: function (data) {
                    $('#txtName').val(data.fldName);
                    $('#txtUser').val(data.fldUserName);
                    $('#fldId').val(data.fldID);
                    $('#txtFamily').val(data.fldFamily);
                    $('#txtMeliCode').val(data.fldMelliCode);
                    $('#cboStatus').val(data.fldStatus);
                    $('#txtMail').val(data.fldEmail);
                    $('#txtSDate').val(data.fldSDate);
                    $('#txtCodeT').val(data.fldNumberAgoTel);
                    $('#txtTel').val(data.fldTel);
                    $('#txtCell').val(data.fldMobile);
                    $('#txtDesc').val(data.fldDesc);
                    $("#txtPass").val(data.fldPassword);
                    var g = '@Url.Content("~/User/Image/")' + data.fldpicId;
                    $('#PreviewImage').attr('src', g);
                    SID = data.fldCode;
                    NType = data.fldType;
                    id = data.fldCountryId;

                    var checked = $('input[type=checkbox]');
                    for (var i = 0; i < checked.length; i++) {
                        var f = checked.valueOf()[i];
                        f.checked = false;
                        for (var k = 0; k < data.checkedNodes.length; k++) {
                            if (f.value == data.checkedNodes[k])
                                f.checked = true;
                        }
                    }

                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }
        else {
            alert('لطفا یک سطر را انتخاب کنید.');
        }
    }
    function readURL(input) {
        if (input.files && input.files[0]) {//Check if input has files.
            if (input.files[0].size > 25600) {
                alert('حجم فایل بزرگتر از 25 کیلو بایت است.');
            }
            else {
                var reader = new FileReader(); //Initialize FileReader.

                reader.onload = function (e) {
                    $('#PreviewImage').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    }

    function getBase64Image(imgElem) {
        // imgElem must be on the same server otherwise a cross-origin error will be thrown "SECURITY_ERR: DOM Exception 18"
        var canvas = document.createElement("canvas");
        canvas.width = imgElem.clientWidth;
        canvas.height = imgElem.clientHeight;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(imgElem, 0, 0, 94, 124);
        var dataURL = canvas.toDataURL("image/jpg");
        return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
    }

    function Reload(Url, gridname, field, value, top, searchType) {
        var grid = $('#' + gridname).data('kendoGrid');
        $.ajax({
            url: Url,
            type: 'get',
            datatype: 'json',
            data: { field: field, value: value, top: top, searchtype: searchType },
            error: function (xhr, status, error) {
                alert(xhr + status);
            },
            success: function (result) {
                $("#" + gridname).data("kendoGrid").dataSource.data(result);
            }

        });
    }

    function PostForm(datas, url, id) {
        var sendInfo = datas;
        $('#Lock').show();
        $.ajax({
            type: "POST",
            url: url,
            data: JSON3.stringify(sendInfo),
            contentType: 'application/json',
            success: function (data) {
                var m = data;
                windowAppend("body", "/faces/metro/error");
                $("#message").html(m.data);
                switch (m.state) {
                    case 0:
                        $("#error .wintitle").html("ذخیره موفق");
                        break;
                    case 1:
                        $("#error .wintitle").html("خطا");
                        break;
                }
                var url = '@Url.Action("Reload", "User")';
                Reload(url, 'Grid', '0', '', 30, 1);
                $('#Lock').hide();
            },
            failure: function (data) {
                alert(data.data);
            }
        });
    }

    </script>
</div>

<style type="text/css">
    .treeview-back
    {
        width: 400px;
        margin: 30px;
        padding: 20px;
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.45), inset 0 0 30px rgba(0,0,0,0.07);
        box-shadow: 0 1px 2px rgba(0,0,0,0.45), inner 0 0 30px rgba(0,0,0,0.07);
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
</style>
