@using Kendo.Mvc.UI;
<div class="modal" id="Dargah_Pardakht_Info">
    <script src="@Url.Content("~/Content/Base.js")" type="text/javascript"></script>
    <div>
        <br />
         <a href="@Url.Content("~/Helps/اطلاعات درگاه پرداخت.htm")" target="_blank" id="Help" title="راهنما" style="background-image:url('/Content/images/1381415123_help.png');background-repeat: no-repeat;height: 20px;float: left;top: 10px;left: 10px;"></a>
      <center>
            <table>
                <tr>
                    @Html.Hidden("fldId")
                    <td align="left">
                        نوع درگاه پرداخت:
                    </td>
                    <td>
                        @(Html.Kendo().DropDownList()
                                .Name("CboType")
                                  .DataTextField("fldName")
                                  .DataValueField("fldID")
                                  .OptionLabel("درگاه...")
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetType", "Dargah_Pardakht_Info");
                                      });
                                  }).HtmlAttributes(new { @style = "width:200px;" })
                        )
                        <span id="lblcboBankError" style="color: Red;"></span>
                    </td>
                    
                </tr>

                <tr>
                    <td align="left">
                        توضیحات:
                    </td>
                    <td>
                        @UniAutomation.Helper.winClass.textArea("txtDesc", 4, 30)
                    </td>
                </tr>
            </table>
            <p>
                @UniAutomation.Helper.winClass.Buttons("AddLink", "ذخیره", "Save")
                @*@UniAutomation.Helper.winClass.Buttons("EditLink", "ویرایش", "Edit")
                @UniAutomation.Helper.winClass.Buttons("DelLink", "حذف", "Del")*@
                @UniAutomation.Helper.winClass.Buttons("exit", "خروج", "Exit")
            </p>
        </center>

        <div class="k-rtl demo-section">
            @(Html.Kendo().Grid<UniAutomation.Areas.faces.Models.sp_tblDargah_Pardakht_Info_Value>()
                .Name("Grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.fldId).Title("کد").Hidden(true);
                    columns.Bound(p => p.fldFarsiName).Title("نام فارسی پارامتر");
                    columns.Bound(p => p.fldEnglishName).Title("نام انگلیسی پارامتر");
                    columns.Bound(p => p.fldMount).Title("مقدار");

                })
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable()
            .Scrollable()
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .DataSource(data =>
                data.Ajax()
                .PageSize(10)
                .Model(m =>
                    {
                        m.Id(p => p.fldId);
                        m.Field(p => p.fldFarsiName).Editable(false);
                        m.Field(p => p.fldEnglishName).Editable(false);
                        m.Field(p => p.fldMount).Editable(true);
                    })
               // .Read("Fill", "Dargah_Pardakht_Info")
            )
            )
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#AddLink").button();
            $("#EditLink").button();
            $("#DelLink").button();
            $("#exit").button();
            $('#Help').button();

            $("#exit").click(function () {
                $("#Dargah_Pardakht_Info").remove();
            });
            $('#Dargah_Pardakht_Info').on('keyup', 'input', function (event) {
                if (event.which == 13) {
                    var inputs = $('#Dargah_Pardakht_Info').find(':input:visible');
                    inputs.eq(inputs.index(this) + 1).focus();
                }
            });
             $(document).keyup(function (event) {
                if (event.which == 119) {
                    SaveRecord();
                }
                else if (event.which == 113) {
                    EditRecord();
                }
                else if (event.which == 115) {
                    DeleteRecord();
                }
            });
            $('#AddLink').attr('title', 'کلید میانبر (F8)'); //119
            $('#EditLink').attr('title', 'کلید میانبر (F2)'); //113
            $('#DelLink').attr('title', 'کلید میانبر (F4)'); //115

            jQuery("#EditLink").click(function () {
                EditRecord();
            });

            $('#DelLink').click(function () {
                DeleteRecord();
            });

            $("#AddLink").click(function () {
                SaveRecord();
            });
           
            
            $('#CboType').change(function () {
                var url = '@Url.Action("Reload", "Dargah_Pardakht_Info")';
                Reload(url, 'Grid', $("#CboType").val());
            });



        });
        function Clear() {
            $('#fldId').val(0);
            $('#txtDesc').val('');
        }

        function DeleteRecord() {
            var entityGrid = $("#Grid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem) {
                var id = selectedItem.fldId;
                var URL = '@Url.Content("~/faces/metro/YesNomsg")';
                URL = URL + "/?id=" + id + "&URL=" + '@Url.Content("~/Dargah_Pardakht_Info/Delete")';
                if (MetroDialogOpen == false) {
                    MetroDialogOpen = true;
                    windowAppend("body", URL);
                    $("#message").html('آیا مایل به حذف رکورد انتخاب شده هستید؟');
                }
            }
            else {
                alert('لطفا یک سطر را انتخاب کنید.');
            }
            Clear();
        }

        function SaveRecord() {
            var Value = new Array();
            var entityGrid = $("#Grid").data("kendoGrid");
            var row = entityGrid.items();
            var ParametrId;
            var Mount;
            for (var i = 0; i < row.length; i++) {
                ParametrId = row[i].cells[0].textContent;
                Mount = row[i].cells[3].textContent;
                    Value.push({
                        'fldDargahPardakhtId': $("#CboType").val(),
                        'fldParametrId': ParametrId,
                        'fldMount': Mount
                    });
            }
            var data = {
                Value: Value,
                DargahPardakhtId: $('#CboType').val()
            };

            if (data != '') {
                PostForm(data, '@Url.Content("~/Dargah_Pardakht_Info/Save")', "#win");
            }
            Clear();
        }

        function EditRecord() {
            var entityGrid = $("#Grid").data("kendoGrid");
            var selectedItem = entityGrid.dataItem(entityGrid.select());
            if (selectedItem) {
                var id = selectedItem.fldId;
                var URL = '@Url.Content("~/Dargah_Pardakht_Info/Details")';
                URL = URL + "/" + id;
                $.ajax({
                    type: "GET",
                    url: URL,
                    success: function (data) {
                        $('#fldId').val(data.fldId);
                        var model = $("#cboBank").data("kendoDropDownList");
                        model.value(data.fldBankId);
                        var model1 = $("#CboType").data("kendoDropDownList");
                        model1.value(data.fldDargahType);
                    },
                    failure: function (data) {
                        alert(data.data);
                    }
                });
            }
            else {
                alert('لطفا یک سطر را انتخاب کنید.');
            }
        }

        function Reload(Url, gridname, value) {
            var grid = $('#' + gridname).data('kendoGrid');
            $.ajax({
                url: Url,
                type: 'get',
                datatype: 'json',
                data: { value: value},
                error: function (xhr, status, error) {
                    alert(xhr + status);
                },
                success: function (result) {
                    $("#" + gridname).data("kendoGrid").dataSource.data(result);
                }

            });
        }

        function PostForm(datas, url, id) {
            var sendInfo = datas;
            $('#Lock').show();
            $.ajax({
                type: "POST",
                url: url,
                datatype: "json",
                data: JSON3.stringify(sendInfo),
                contentType: 'application/json',
                success: function (data) {
                    var m = data;
                    windowAppend("body", "/faces/metro/error");
                    $("#message").html(m.data);
                    switch (m.state) {
                        case 0:
                            $("#error .wintitle").html("ذخیره موفق");
                            break;
                        case 1:
                            $("#error .wintitle").html("خطا");
                            break;
                    }
                    @*var url = '@Url.Action("Reload", "Dargah_Pardakht_Info")';
                    Reload(url, 'Grid', 0, $("#cboBank").val(), $("#CboType").val(), 0, 2);*@
                    $('#Lock').hide();
                },
                failure: function (data) {
                    alert(data.data);
                }
            });
        }

    </script>
</div>
